/*estilos generales*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Arial';
}

html {
    font-size: 16px;
    scroll-padding: 2rem;
    scroll-behavior: smooth;
}

body {
    background-color: var(--blanco);
    transition: 0.3s ease-in-out;
}

:root {
    --blanco: #ffffff;
    --rojo: red;
    --rojo-palido: #fff0f0;
    --azul: #13131b;
    --gris: #ececf2;
}

.contenedor{
    max-width:1200px;
    width:85%;
    margin:0 auto;
}

.separador{
    margin-bottom:8rem;
}

/*estilos generales textos*/

h1{
   font-size:3.8rem;
   font-weight:600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    padding: 0.8rem 1rem;
    justify-self: center;
    border-radius: 0.6rem;
    font-size: 1.1rem;
}

li{
    list-style:none;
}

.primary {
    color: var(--blanco);
    background: red;
}

.button-nav {
    color: var(--blanco);
    font-weight: 500;
    animation: color-enlaces-navegador linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
}

@keyframes color-enlaces-navegador {
    to {
        color: var(--azul);
    }
}

.titulo-seccion {
    margin-bottom:3rem;
    text-align:center;
}



/*grid*/

.grid{
    display:grid;
}

.flex {
    display: flex;
}

/*header*/

.header{
    background:fixed url(../images/background-header.jpg) no-repeat center;
    background-size:cover;
    height:100vh;
    min-height:100vh;
    display:grid;
    place-content:center;
}

.contenido-header {
    color: var(--blanco);
    text-align:center;
    text-orientation:upright;
    display:grid;
    gap:2rem;
    max-width:50rem;
}

/*navegador*/

.navegador {
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    height: 6rem;
    animation: navegador linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
}

@keyframes navegador{
    to {
        background-color: rgba(255, 255, 255, 0.968);
        border-bottom: #f7f7f7 1px solid;
        backdrop-filter: blur(15px);
        border-top: 1px solid var(--gris);
    }
}


.navegador ul{
    list-style:none;
    align-items:center;
}

.contenedor-navegador {
    justify-content:space-between;
    align-items:center;
}

.logo {
    font-size: 1.5rem;
    color: var(--blanco);
    animation: color-enlaces-navegador linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
}

.texto-rojo {
    color: var(--rojo);
}

/*main*/

.contenedor-tarjetas {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.tarjeta {
    border-radius: 1rem;
    gap: 1rem;
    border: 1px solid var(--gris);
    padding:1rem;
}

.img-tarjeta {
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
    object-fit:cover;
}

.titulo-tarjeta{
    font-size:1.2rem;
    text-transform:uppercase;
}

.descripcion-tarjeta {
    font-size: 1rem;
}

.contenedor-etiquetas {
    gap: 0.5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.seccion-etiquetas h3{
    font-size:1rem;
}

.etiqueta {
    padding: 0.4rem 0.7rem;
    border: 1px solid var(--gris);
    border-radius: 3rem;
}

.seccion-etiquetas {
    gap: 0.5rem;
    padding-top: 1rem;
    border-top: 1px solid var(--gris);
}

/*valores*/

.contenedor-valores {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
}

.valor{
    align-items:center;
    text-align:center;
    flex-direction:column;
    gap:1rem;
}

.icon {
    width: 5rem;
    height: 5rem;
    color: var(--rojo);
    padding: 1rem;
    background: var(--rojo-palido);
    border-radius: 50rem;
    stroke-width:1.3px;
}

.titulo-valor{
    font-size:1.2rem;
}


.adopcion {
    background: fixed url(../images/background-grid3.jpg) no-repeat center;
    background-size: cover;
    height: 50vh;
    min-height: 50vh;
    align-items:center;
}

.contenedor-adopcion {
    color: var(--blanco);
    gap: 0.8rem;
    text-align: center;
    max-width:50rem;
}

/*footer*/

.footer {
    background-color: var(--azul);
    color: var(--blanco);
    padding: 4rem 0 8rem 0;
}

.contenedor-footer {
    grid-template-columns: 4fr  1fr;
    gap:5rem;
}

.sobreNosotros-footer p {
    color: #ccc;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer a {
    font-size: 1rem;
    line-height: 1.6;
    color: #ccc;
    text-decoration: none;
    padding:0;
    
}

    .footer ul li {
        margin-bottom: 10px;
    }


.copyrigth-footer {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid #f2f2f21e;
    margin-top: 2rem;
}

@media (max-width: 850px) {
    h1{
        font-size:2.5rem;
    }

    .contenido-header{
        gap:1rem;
    }

    .navegador {
        top: auto;
        height: 5rem;
        bottom: -999px;
        animation: navegador linear both;
        animation-timeline: scroll(root);
        animation-range: 0 100px;
    }

    @keyframes navegador {
        to {
            background-color: rgba(255, 255, 255, 0.968);
            border-bottom: #f7f7f7 1px solid;
            backdrop-filter: blur(15px);
            border-top: 1px solid var(--gris);
            bottom:0;
        }
    }

    .contenedor-navegador{
        justify-content:center;
    }

    .logo{
        display:none;
    }

    .navegador {
        
    }

    
    
}



@media (max-width: 630px) {
    .contenedor-footer{
        grid-template-columns:1fr;
    }

    .adopcion {
        height: 80vh;
        min-height: 80vh;
    }

    h1 {
        font-size: 2rem;
    }

    .button-nav{
        font-size:0.9rem;
    }
}
