<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Inicio | Huellitas a casa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="../css/estilos.css" rel="stylesheet" />
</head>
<body>
    <header class="header header-image-4 separador">
    <section class="contenido-header contenedor">
        <h1>¡Todos nuestros peluditos!</h1>
        <p>Encuentra a todos nuestros peluditos aca.</p>
        <a class="button primary" href="#">Comenzar mi adopción</a>
    </section>
</header>

<nav class="navegador flex">
    <section class="contenedor-navegador flex contenedor">
        <h3 class="logo">Huellitas <span class="texto-rojo">en casa</span> </h3>
        <ul class="flex">
            <li><a class="button-nav" href="../index.html">Inicio</a></li>
            <li><a class="button-nav texto-rojo" style="color:red; font-weight:bold;" href="acerca.html">Acerca</a></li>
            <li><a class="button-nav" href="peluditos.html">Peluditos</a></li>
            <li><a class="button-nav" href="contacto.html">Contacto</a></li>
        </ul>
    </section>
</nav>


<main class="main separador">
    <section class="contendor-main contenedor">
        <section class="titulo-seccion">
            <h2>Algunos de estos peluditos estan esperandote</h2>
            <!--<p>Encuentra  a tu mascota favorita y dale un hogar</p>-->
        </section>
        <section class="contenedor-tarjetas grid">

            <article class="tarjeta grid">
                <img class="img-tarjeta" src="images/cat(4).jpg" alt="Alternate Text" />
                <div class="flex nombre-genero">
                    <h3 class="titulo-tarjeta">OLIVER</h3>
                </div>
                <p><strong>2 años • Macho • Blanco y negro</strong></p>
                <p class="descripcion-tarjeta">Gato juguetón y cariñoso, siempre listo para jugar y recibir caricias.</p>
                <section class="grid seccion-etiquetas">
                    <h3>Destacado por:</h3>
                    <div class="contenedor-etiquetas flex">
                        <p class="etiqueta">Jugueton</p>
                        <p class="etiqueta">Cariñoso</p>
                        <p class="etiqueta">Activo</p>
                    </div>
                </section>
            </article>

            <article class="tarjeta grid">
                <img class="img-tarjeta" src="images/cat(5).jpg" alt="Alternate Text" />
                <div class="flex nombre-genero">
                    <h3 class="titulo-tarjeta">LUNA</h3>
                </div>
                <p><strong>3 años • Hembra • Atigrada</strong></p>
                <p class="descripcion-tarjeta">Gata independiente y curiosa, le encanta explorar y observar desde las alturas.</p>
                <section class="grid seccion-etiquetas">
                    <h3>Destacado por:</h3>
                    <div class="contenedor-etiquetas flex">
                        <p class="etiqueta">Independiente</p>
                        <p class="etiqueta">Curiosa</p>
                        <p class="etiqueta">Observadora</p>
                    </div>
                </section>
            </article>

            <article class="tarjeta grid">
                <img class="img-tarjeta" src="images/cat(6).jpg" alt="Alternate Text" />
                <div class="flex nombre-genero">
                    <h3 class="titulo-tarjeta">MILO</h3>
                </div>
                <p><strong>1 año • Macho • Gris</strong></p>
                <p class="descripcion-tarjeta">Gato simpático y sociable, siempre busca la compañía de sus humanos y otros animales.</p>
                <section class="grid seccion-etiquetas">
                    <h3>Destacado por:</h3>
                    <div class="contenedor-etiquetas flex">
                        <p class="etiqueta">Sociable</p>
                        <p class="etiqueta">Simpatía</p>
                        <p class="etiqueta">Amigable</p>
                    </div>
                </section>
            </article>


            <article class="tarjeta grid">
                <img class="img-tarjeta" src="images/dog (2).jpg" alt="Alternate Text" />
                <div class="flex nombre-genero">
                    <h3 class="titulo-tarjeta">RUFO</h3>
                </div>
                <p><strong>3 años • Varon • Pug</strong></p>
                <p class="descripcion-tarjeta">Un perro leal y protector, con un carácter fuerte y un apetito voraz.</p>
                <section class="grid seccion-etiquetas">
                    <h3>Destacado por:</h3>
                    <div class="contenedor-etiquetas flex">
                        <p class="etiqueta">Enojon</p>
                        <p class="etiqueta">Hambriento</p>
                        <p class="etiqueta">Amargado</p>
                    </div>
                </section>
            </article>

            <article class="tarjeta grid">
                <img class="img-tarjeta" src="images/dog (4).jpg" alt="Alternate Text" />
                <div class="flex nombre-genero">
                    <h3 class="titulo-tarjeta">MAYBES</h3>
                </div>
                <p><strong>5 años • Hembra • Chao Chao</strong></p>
                <p class="descripcion-tarjeta">Perra cariñosa y tranquila, ideal para un hogar lleno de amor.</p>
                <section class="grid seccion-etiquetas">
                    <h3>Destacado por:</h3>
                    <div class="contenedor-etiquetas flex">
                        <p class="etiqueta">Cariñosa</p>
                        <p class="etiqueta">Amorosa</p>
                        <p class="etiqueta">Tranquila</p>
                    </div>
                </section>
            </article>

            <article class="tarjeta grid">
                <img class="img-tarjeta" src="images/dog (5).jpg" alt="Alternate Text" />
                <div class="flex nombre-genero">
                    <h3 class="titulo-tarjeta">OSO</h3>
                </div>
                <p><strong>3 años • Varon • Pichonsito</strong></p>
                <p class="descripcion-tarjeta">Perro energético y leal, siempre listo para la aventura.</p>
                <section class="grid seccion-etiquetas">
                    <h3>Destacado por:</h3>
                    <div class="contenedor-etiquetas flex">
                        <p class="etiqueta">Hambriento</p>
                        <p class="etiqueta">Jugueton</p>
                        <p class="etiqueta">Cazador</p>
                        <p class="etiqueta">Leal</p>
                    </div>
                </section>
            </article>

            <article class="tarjeta grid">
                <img class="img-tarjeta" src="images/cat(1).jpg" alt="Alternate Text" />
                <div class="flex nombre-genero">
                    <h3 class="titulo-tarjeta">CHISKA</h3>
                </div>
                <p><strong>6 meses • Hembra • Oscura</strong></p>
                <p class="descripcion-tarjeta">Gata seria e independiente, con un instinto cazador.</p>
                <section class="grid seccion-etiquetas">
                    <h3>Destacado por:</h3>
                    <div class="contenedor-etiquetas flex">
                        <p class="etiqueta">Seria</p>
                        <p class="etiqueta">Cazadora</p>
                        <p class="etiqueta">Hambrienta</p>
                    </div>
                </section>
            </article>

            <article class="tarjeta grid">
                <img class="img-tarjeta" src="images/cat(2).jpg" alt="Alternate Text" />
                <div class="flex nombre-genero">
                    <h3 class="titulo-tarjeta">Bonita</h3>
                </div>
                <p><strong>2 meses • Hembra • Parcheada</strong></p>
                <p class="descripcion-tarjeta">Gatita traviesa y juguetona, amante de las siestas.</p>
                <section class="grid seccion-etiquetas">
                    <h3>Destacado por:</h3>
                    <div class="contenedor-etiquetas flex">
                        <p class="etiqueta">Dormilona</p>
                        <p class="etiqueta">Traviesa</p>
                        <p class="etiqueta">Juguetona</p>
                    </div>
                </section>
            </article>

            <article class="tarjeta grid">
                <img class="img-tarjeta" src="images/cat(3).jpg" alt="Alternate Text" />
                <div class="flex nombre-genero">
                    <h3 class="titulo-tarjeta">MIYAGI</h3>
                </div>
                <p><strong>1 año • Varon • Parcheado</strong></p>
                <p class="descripcion-tarjeta">Gato tranquilo y dormilón, con un carácter algo gruñón.</p>
                <section class="grid seccion-etiquetas">
                    <h3>Destacado por:</h3>
                    <div class="contenedor-etiquetas flex">
                        <p class="etiqueta">Dormilon</p>
                        <p class="etiqueta">Gruñon</p>
                        <p class="etiqueta">Comelon</p>
                    </div>
                </section>
            </article>
        </section>
    </section>

    <footer class="footer">
        <section class="contenedor-footer grid contenedor">
            <section class="sobreNosotros-footer">
                <h3>Sobre Nosotros</h3>
                <p>Somos una organización dedicada a la adopción de animales. Nuestro objetivo es encontrar hogares amorosos para mascotas en necesidad. También aceptamos animales que necesitan un lugar seguro y cuidado hasta que encuentren un nuevo hogar.</p>

            </section>
            <div class="enlaces-footer">
                <h3>Enlaces</h3>
                <ul>
                    <li><a class="button-nav" href="../index.html">Inicio</a></li>
                    <li><a class="button-nav" href="acerca.html">Acerca</a></li>
                    <li><a class="button-nav" href="peluditos.html">Peluditos</a></li>
                    <li><a class="button-nav texto-rojo">Contacto</a></li>
                </ul>
            </div>
        </section>
        <div class="copyrigth-footer">
            <p>&copy; 2024 Huellitas en casa. Todos los derechos reservados.</p>
        </div>
    </footer>
</main>
</body>
</html>